<header>
  <a href="/" class="logo">
    <img src="/assets/dist/images/Calvary-Logo_White.png" alt="" />
  </a>

  <nav class="primary">
    <div class="menu-toggle">
      <span></span>
    </div>

    <ul class="navigation">
      <li><a href="/sermons" class="nav-item sermons">Sermons</a></li>
      <li><a href="/our-beliefs" class="nav-item events">Our Beliefs</a></li>
      <!-- <li><a href="/events" class="nav-item events">Events</a></li> -->
      <li><span class="nav-item ministries">Ministries</span>
        <ul class="subnav">
          <li><a href="/ministries/foundations">Foundations</a></li>
          <li><a href="/ministries/youth">Youth</a></li>
        </ul>
      </li>
      <!-- <li><span class="nav-item resources">Resources</span>
                <ul class="subnav">
                    <li><a href="/resources/bible-study">Bible Study</a></li>
                </ul>
            </li> -->

      <li><a href="https://tithe.ly/give?c=6399118" target="_blank" class="nav-item give">Give</a></li>

      <li><span class="nav-item get-involved">Get Involved</span>
        <ul class="subnav">
          <li><a href="/serve" class="serve">Serve</a></li>
          <li><a href="/contact" class="contact">Contact</a></li>
        </ul>
      </li>

    </ul>

    <ul class="social-media">
      <li><a class="facebook" href="https://www.facebook.com/Calvary-Baptist-Church-100949772463870/"><span
            class="sr-only">Facebook</span></a></li>
      <li><a class="youtube" href="https://www.youtube.com/channel/UCrBzVtpSDbvIPxqADYuFXiA"><span
            class="sr-only">Youtube</span></a></li>
    </ul>
  </nav>

  <div class="quick-contact">
    <div class="qc-text">
      Don't know where to start?
    </div>
    <a class="qc-link" href="tel:12176919965">+1 217 691 9965</a>
  </div>
</header>