<a class="skip-link" href="#main-content">Skip to main content</a>
<header>
  <a href="/" class="logo" aria-label="Calvary Baptist Church home page">
    <img src="/assets/dist/images/Calvary-Logo_White.png" alt="Calvary Baptist Church logo" />
  </a>

  <nav class="primary" aria-label="Primary">
    <button class="menu-toggle" type="button" aria-label="Open main menu" aria-expanded="false">
      <span></span>
    </button>

    <ul class="navigation" id="primary-navigation">
      <li><a href="/sermons" class="nav-item sermons">Sermons</a></li>
      <li><a href="/our-beliefs" class="nav-item events">Our Beliefs</a></li>
      <!-- <li><a href="/events" class="nav-item events">Events</a></li> -->
      <li class="has-subnav">
        <button class="nav-item nav-submenu-toggle ministries" type="button" aria-expanded="false">Ministries</button>
        <ul class="subnav">
          <li><a href="/ministries/awana">AWANA</a></li>
          <li><a href="/ministries/youth">Youth</a></li>
          <li><a href="/resources/souls-training-ground">Soul's Training Ground</a></li>
        </ul>
      </li>
      <!-- <li><span class="nav-item resources">Resources</span>
                <ul class="subnav">
                    <li><a href="/resources/bible-study">Bible Study</a></li>
                </ul>
            </li> -->

      <!-- <li><a href="https://tithe.ly/give?c=6399118" target="_blank" class="nav-item give">Give</a></li> -->

      <li class="has-subnav">
        <button class="nav-item nav-submenu-toggle get-involved" type="button" aria-expanded="false">Get
          Involved</button>
        <ul class="subnav">
          <li><a href="/serve" class="serve">Serve</a></li>
          <li><a href="/contact" class="contact">Contact</a></li>
        </ul>
      </li>

    </ul>

    <ul class="social-media">
      <li><a class="facebook" href="https://www.facebook.com/Calvary-Baptist-Church-100949772463870/"><span
            class="sr-only">Facebook</span></a></li>
      <li><a class="youtube" href="https://www.youtube.com/channel/UCrBzVtpSDbvIPxqADYuFXiA"><span
            class="sr-only">Youtube</span></a></li>
    </ul>
  </nav>

  <div class="quick-contact">
    <div class="qc-text">
      Don't know where to start?
    </div>
    <a class="qc-link" href="tel:16603730233">+1 660 373 0233</a>
  </div>
</header>