<nav class="primary">
    <div class="menu-toggle">
        <span></span>
    </div>

    <ul class="navigation">
        <li><a href="/" class="nav-item home">Home</a></li>
        <li><a href="/sermons" class="nav-item sermons">Sermons</a></li>
        <li><a href="/events" class="nav-item events">Events</a></li>
        <li><span class="nav-item ministries">Ministries</span>
            <ul class="subnav">
                <li><a href="/ministries/foundations">Foundations</a></li>
                <li><a href="/ministries/relevant-belief">Relevant Belief</a></li>
            </ul>
        </li>
        <li><a href="/serve" class="nav-item serve">Serve</a></li>
        <li><a href="/contact" class="nav-item contact">Contact</a></li>
    </ul>

    <ul class="social-media">
        <li><a class="facebook" href="#"><span class="sr-only">Facebook</span></a></li>
        <li><a class="youtube" href="#"><span class="sr-only">Youtube</span></a></li>
    </ul>
</nav>