.events{
    padding-top: 185px;
    background-image: url('/assets/dist/images/wavy-lines.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 25% auto;

    h2, .callout-text{
        width: 100%;
        text-align: center;
    }
    
    ul{
        display: flex;
        flex-wrap: wrap;

        li{
            width: calc(33% - 30px);
            margin-right: 45px;

            &:nth-child(3n){
                margin-right: 0;
            }
        }
    }
}