section{
    padding: 100px 0 150px;

    .section-content{
        @include width-restrict;
    }

    &.light-section{
        background: #fff;

        h2,
        h3{
            color: #0f0d1d;
        }

        p{
            color: #222;
        }
    }

    &.gray-section{
        background: #f2f4f8;

        h2,
        h3{
            color: #0f0d1d;
        }

        p{
            color: #222;
        }
    }

    h2,
    h3{
        @include Jost-Black;
        color: #fff;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: -.002rem;
        margin: 0 0 10px 0;

        @media all and (min-width: 768px){
            font-size: 50px;
        }
    }

    .callout-text{
        @include Jost;
        font-size: 18px;
        color: #8f8da0;
    }

    .scripture-reference{
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        vertical-align: super;    
    }

    p{
        color: #f2f4f8;
    }
}